/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nav Css */

.custom_nav{
    background-color: rgba(216, 190, 242, 1);
}

.custom_nav_button{
    background-color: rgba(234, 214, 255, 1);
}

.custom_form_auth{
    width: 1000px;
}

.low_border{
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 15px;
}

.inputMainBox{
    width: 800px;
    height: 500px;
    overflow-y: auto;
}

.userDetail{
    width: 700px;
    height: 400px;
    padding: 15px;
}

.userHistory{
    width: 1000px;
    height: 700px;
    padding: 15px;
    overflow: auto;
}

.circleShow{
    height: 150px;
    width: 150px;
    /* border-radius: 150px; */
}

.sideDiv{
    width: 500px;
    height: 150px;
}

td {
    padding: 10px;
    width: 15%;
}

tr {
    border-bottom: 1px solid rgb(105, 105, 105);
}